<section>
    <h1>Your Cart ({{total}})</h1>
    <div *ngIf="total==0" class="empty-cart">
        <img src="/assets/images/illustration-empty-cart.svg" alt="empty cart">
        <p>
            Your added items will appear here
        </p>
    </div>
    <div *ngIf="total > 0" class="normal-cart">
        <ul *ngFor="let item of items">
            <li class="title">{{item.name}}</li>
            <li class="info-list">
                <p class="quantity">{{item.quantity}}x</p>
                <p class="price">&#64; {{item.price | currency: 'USD'}}</p>
                <p class="total-price">{{item.price * item.quantity | currency: 'USD'}}</p>
            </li>
            <li class="close-icon" (click)="removeItemHandler(item.name)">
                <img src="/assets/images/icon-remove-item.svg" alt="remove item">
            </li>
        </ul>
        <div class="order-total">
            <p>Order Total</p>
            <p class="total">{{total_price | currency: 'USD'}}</p>
        </div>
        <div class="carbon-neutral">
            <img src="/assets/images/icon-carbon-neutral.svg" alt="carbon neutral">
            <p>This is a <span>carbon-neutral</span> delivery</p>
        </div>
        <div class="confirm-order" (click)="handleClick()">Confirm Order</div>
    </div>
</section>