<section [class]="class">
    <div class="container">
        <div class="confirm-img">
            <img src="/assets/images/icon-order-confirmed.svg" alt="oder confirmed icon">
        </div>
    
        <h1>Order Confirmed</h1>
        <p>We hope you enjoy your food!</p>
    
        <ul>
            <li *ngFor="let item of items">
                <div>
                    <img [src]="handleSrc(item.name)" [alt]="item.name">
                </div>
                <ul class="price-list"> 
                    <li class="title">{{item.name}}</li>
                    <li class="quantity">{{item.quantity}}x</li>
                    <li class="price">&#64; {{item.price | currency:'USD'}}</li>
                </ul>
                <p class="parcial-price">
                    {{item.price*item.quantity | currency:'USD'}}
                </p>
            </li>
            <li class="total">
                <p>Order Total</p>
                <p class="total-price">{{totalPrice | currency:'USD'}}</p>
            </li>
        </ul>
        <div class="button" (click)="handleClick()">
            Start New Order
        </div>
    </div>
</section>