<section>
    <div class="container">
        <div class="confirm-img">
            <img src="/assets/images/icon-order-confirmed.svg" alt="oder confirmed icon">
        </div>
    
        <h1>Order Confirmed</h1>
        <p>We hope you enjoy your food!</p>
    
        <ul>
            <li>
                <div>
                    <img src="/assets/images/image-tiramisu-thumbnail.jpg" alt="classic tiramisu">
                </div>
                <ul class="price-list"> 
                    <li class="title">Classic Tiramisu</li>
                    <li class="quantity">1x</li>
                    <li class="price">&#64; $5.50</li>
                </ul>
                <p class="parcial-price">
                    $5.50
                </p>
            </li>
            <li class="total">
                <p>Order Total</p>
                <p class="total-price">$46.50</p>
            </li>
        </ul>
        <div class="button">
            Start New Order
        </div>
    </div>
</section>