<section>
    <h1>Desserts</h1>

    <ul>
        <li *ngFor="let product of products | async" [class]="isSelected(product.name)? 'selected' : 'not-selected'">
            <img [src]="returnProperImage(product.image)" [alt]="product.name">
            <div *ngIf="!(isSelected(product.name))" class="button" (click)="addToCart(product)" (keydown)="ifEnter($event)" [tabindex]="tab"> <img src="/assets/images/icon-add-to-cart.svg"> Add to cart</div>
            <div *ngIf="(isSelected(product.name))" class="button selected">

                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" fill="none" viewBox="0 0 10 2" alt="decrement" class="decrement" (click)="removeFromCart(product.name)" (keydown)="ifEnter($event)" [tabindex]="tab">
                    <path fill="#fff" d="M0 .375h10v1.25H0V.375Z"/>
                </svg>
                 
                
                {{quantityOfProducts(product.name)}}
                 
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10" alt="increment" class="increment" (click)="addToCart(product)" (keydown)="ifEnter($event)" [tabindex]="tab">
                    <path fill="#fff" d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"/>
                </svg>
                 
            </div>
            <p class="category">{{product.category}}</p>
            <p class="name">{{product.name}}</p>
            <p class="price">{{product.price | currency:'USD'}}</p>
        </li>
    </ul>
</section>